{{!< default}}

<section id="feature">

    <div class="row">

        <img src="images/dtType.png" alt="">

        <div class="videoWrapper clearfix">

            <iframe src="https://player.vimeo.com/video/{{data.featuredVideoId}}?color=ffffff&title=0&portrait=0" width="800" height="450"frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div>

    </div>

</section>



<section id="services" class="scroll-target">

    <div class="row text-center">

        <div class="large-12 columns">

            <h1>Services</h1>

            <div class="row group">

                <div class="service large-4 medium-4 small-12 columns">

                    <div class="image-container">
                        <img src="images/photo.png" alt="">
                    </div>

                    <h2>Photography</h2>

                    <p>ok ma i'm road kill we're going for a ride on the information super highway. alrighty then excuse me, i'd like to ass you a few questions.</p>

                </div>

                <div class="service large-4 medium-4 small-12 columns">

                    <div class="image-container">
                        <img src="images/film.png" alt="">
                    </div>

                    <h2>Video</h2>

                    <p>just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. hey, maybe i will give you a call sometime. your number still 911?</p>

                </div>

                <div class="service large-4 medium-4 small-12 columns">

                    <div class="image-container">
                        <img src="images/write.png" alt="">
                    </div>

                    <h2>Writing</h2>

                    <p>we got no food we got no money and our pets heads are falling off! haaaaaaarry. brain freeze. it's because i'm green isn't it!</p>

                </div>

            </div>

        </div>

    </div>

</section>



<section id="team" class="scroll-target">

    <div class="row text-center">

        <div class="large-12 columns">

            <h1>Team</h1>

            <div class="group">

                <div class="team-member large-6 medium-6 small-12 columns" data-reveal-id="modal">
                    <img src="images/joey.gif">
                    <span class="name" shortname="joey">Joey Tran</span>
                    <p class="info">Joey is an award-winning filmmaker and cinematographer and a former regular contributor to Richmond's premiere cinema open mic, Project Res. In the wake of the conclusion of its first wave in 2009 he went on to make and be involved with several films in the Richmond area, including Eric Miller's midnight B-movie and horror parody TV series, "Midnight Frights," which can be found on your local Idea Station, and his own short, "Singularium" (2011), now available on iTunes. After appearing for a support role in Drew Bolduc and Dan Nelson's "The Taint" (2010), he has made his foray into live performance on stage doing improv comedy at the Coalition Theater. </p>
                </div>

                <div class="team-member large-6 medium-6 small-12 columns" data-reveal-id="modal">
                    <img src="images/shawn.gif">
                    <span class="name" shortname="shawn">Shawn Hambright</span>
                    <p class="info">In 2005, while attending VCU, Shawn Hambright auditioned to appear in a short being produced by one Joey Tran, and the two have since worked together on numerous projects. Together they made the award winning shorts MegaChiroptera! and The TREEzilla!, the latter screening at the VMFA in 2011 as a part of the James River Shorts Festival. Shawn also helped launch Midnight Frights as a writer, and composed and recorded the end title theme. In 2014, Shawn wrote, directed, and scored Double Take’s entry into the Richmond 48 Hour Film Project, which took home awards for Best Writing and Best Sound Design. Shawn can be found just about every other Saturday night at the Coalition Theater, where he performs improv with the house team The Johnsons. </p>
                </div>

            </div>

        </div>

    </div>

</section>



<section id="portfolio" class="scroll-target text-center" data-videos="{{data.videos}}">

    <div class="row">

        <h1>Work</h1>

    </div>

    <div class="group portfolio-pieces">

    </div>

    <button id='loadmore'></button>

</section>


<section id="contact" class="scroll-target">

    <h1 class="text-center">Get In Touch</h1>

    <div class="row group">

        <div class="large-6 medium-6 columns">

            <p>Have a film project in mind? Need help writing a script for a promotional video? Looking for a relaxing night out full of thoughtful conversation and food sharing? This form is the quickest place to get started.</p>

            <p class="contact-info">
                9000 NE Banana St <br/>
                Richmond VA, 23220 <br/><br/>
                555-696-9696
            </p>

        </div>

        <div class="large-6 medium-6 columns">

            <form id="email_form">
                <input type="text" id="name" name="name" placeholder="Name" required>

                <input type="email" id="user_email" name="email" placeholder="Email" required>

                <input type="text" id="user_phone" name="phone" placeholder="Phone number">

                <textarea id="message" name="message" placeholder="How can we help?" required rows="8"></textarea>

                <button id="send" type="submit">SEND</button>
            </form>

            <h2 class="success-message hide">Thanks for reaching out. We'll be in touch soon.</h2>

        </div>

    </div>

</section>


<div class="reveal-modal-bg"></div>

<div id='modal' class="reveal-modal medium" data-reveal=""></div>


<footer class="text-center"> <!-- FOOTER START -->

    <img src="images/dtType.png" alt="">

</footer>