@font-face {
    font-family: Frontage;
    src: url("../../fonts/Frontage/Frontage-Regular.otf") format("opentype");
}

@font-face {
    font-family: Frontage;
    font-weight: bold;
    src: url("../../fonts/Frontage/Frontage-Bold.otf") format("opentype");
}

@font-face {
    font-family: Montserrat;
    src: url("../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "icomoon";
    src: url("../../fonts/icomoon/icomoon.woff") format('woff');
}

@import url(http://fonts.googleapis.com/css?family=Raleway:300,700);



/******************************
    Text
******************************/

body {

    font-family: 'Raleway', sans-serif;
    color: #9E9E9E;
}

h1, h2, h3, h4, h5, h6 {

    color: #444A54;
    font-family: Montserrat, sans-serif;
}

h1 {

    font-size: 3em;
    font-weight: bold;
    font-family: Frontage;
    margin: 0 40px;
}

h2 {
    font-size: 2.1em;
}

.about p {
    color: white;
    margin: 40px 30px;
}

.icon {
    font-family: "icomoon";
    font-size: 3em;
    color: #fff;
}

.mail::before {
    content: "\e600";
}

.facebook::before {
    content: "\e604";
}

.insta::before {
    content: "\e601";
}

.twitter::before {
    content: "\e603";
}

.vimeo::before {
    content: "\e602";
}

.up::before {
    content: "\e60b";
}

.down::before {
    content: "\e60a";
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/******************************
    Navigation
******************************/

a {
    color: #FFFFFF;
}

a:link {

    color: #FFFFFF;
}

a:hover {

    color: #d7e180;
}

a:focus {

    color: #FFFFFF;
}

header {

    font-family: Montserrat;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

header .logo {

    position: absolute;
    margin-left: -71px;
    margin-top: 10px;
    left: 50%;
    width: 142px;
    height: auto;
    -webkit-transition: width .2s;
    transition: all .2s;
}

header .menu-toggle {

    display: none;
}

header .logo.fat {

    margin-left: -92px;
    width: 184px;
}

header .nav {

    margin: 0 4%;
    display: block;
    list-style: none;
    position: relative;
}

header .nav.closed {

    display: block;
}

header .nav li {

    display: inline-block;
    width: 20%;
    margin: 24px 0;
    text-align: center;
    font-size: 1.3em;
}

header .nav li:nth-child(2) {

    margin-right: 18%;
}

header a
{
    position: relative;
    border-bottom-width: 4px;
    border-bottom-color: #444A54;
    border-bottom-style: solid;
}

.current {
    border-bottom-color: #e95a50;
}



/******************************
    Interaction
******************************/

body.overlay-on {

    overflow: hidden;
}

button {

    background-color: #e95a50;
    padding: 20px 50px;
}

button:hover {

    background-color: #d7e180;
}

button:focus {

    outline: 0;
}

::-webkit-input-placeholder {

   color: #cdcdcd;
}

:-moz-placeholder { /* Firefox 18- */

   color: #cdcdcd;
}

::-moz-placeholder {  /* Firefox 19+ */

   color: #cdcdcd;
}

:-ms-input-placeholder {

   color: #cdcdcd;
}

input[type="text"], input[type="email"],
input[type="text"]:focus, input[type="email"]:focus,
textarea {

    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #E0E0E0;
    color: #444A54;
}

input[type="text"]:focus, input[type="email"]:focus, textarea {

    outline: 0;
}

input:-webkit-autofill {

    -webkit-box-shadow:0 0 0 100px #FFFFFF inset;
    -webkit-text-fill-color: #444A54;
}

input:-webkit-autofill:focus {

    -webkit-box-shadow:0 0 0 100px #FFFFFF inset;
    -webkit-text-fill-color: #444A54;
}

.reveal-modal {
    opacity: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 0;
    border-width: 0;
    /*background-image: url("../images/joey.gif");*/
    background-repeat: no-repeat;
    background-size: 120% auto;
    background-position: 30% 30%;
    background-color: transparent;
}

.reveal-modal .filter {
    background: rgba(68, 74, 84, 0.8);
    height: 100%;
    width: 100%;
    padding-top: 40px;
}

.reveal-modal p {
    color: white;
    padding: 0 6% 6%;
}

.reveal-modal h1 {
    color: white;
    margin-bottom: 40px;
}

.reveal-modal-bg {
    background: rgba(0, 0, 0, 0.7);
}


/******************************
    Structure
******************************/


section {

    padding: 60px 0;
}

.group
{
    padding: 40px 20px 0;
}

figcaption {
    margin: 10px 0;
    color: #444A54;
    font-size: 1.4em;
}

header, footer, #feature{

    background-color: #444A54;
}

#contact, #team {

    background-color: #edecec;
}

#feature {

    text-align: center;
    height: 600px;
    margin: 0;
    padding: 0;
}

#feature img {

    margin: 120px auto 0;
    padding: 0 40px;
    width: 86%;
    max-width: 90%;
    z-index: 10;
    display: block;
}

#feature .videoWrapper {

    position: relative;
    margin: 60px auto;
    padding-bottom: 54%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 60px;
}

#feature .videoWrapper iframe {

    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    height: 80%;
    margin-left: -40%;
}

.service img {
    border-radius: 50%;
    padding: 10%;
    background-color: #edecec;
    max-width: 70%;
    margin-bottom: 20px;
    overflow: visible;
}

.team-member
{
    margin-bottom: 20px;
}

.team-member img
{
    max-width: 70%;
    display: block;
    margin: auto auto;
}

#modal {

    text-align: center;
}

.team-member span, .team-member p, #member-modal{

    display: none;
}

#team ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

#portfolio img, .team-member img {

    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

#portfolio figure
{
    margin: 0 0 20px;
    padding: 0 10px;
}

.contact-info {

    color: #444A54;
}

footer {

    box-shadow: 0 -3px 10px rgba(0,0,0,0.2);
}

footer img
{
    margin: 36px 0;
    max-width: 28%;
    height: auto;
}

footer ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

footer a
{
    color: #fff;
    position: relative;
    border-bottom-width: 4px;
    border-bottom-color: #444A54;
    border-bottom-style: solid;
}

.loadmore {
    margin: 0;
}


/* VIMEO */

#feature .controls-wrapper {

    display: none;
}





/* MEDIA QUERIES */

@media screen and (max-width: 900px) {


}

@media screen and (max-width: 800px) {

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.8em;
    }

    section, footer
    {
        padding: 40px 0;
    }

    p {
        font-size: .85em;
    }

    .about p {
        color: white;
        margin: 20px 20px;
    }

    .group
    {
        padding: 30px 10px 10px 10px;
    }

    .icon {
        font-size: 2.5em;
    }

    .service p {
        margin: 0;
    }

    .team-member {
        margin-bottom: 10px;
    }

    #loadmore
    {
        font-size: 1em;
        margin: 10px 0;
    }

    #send
    {
        font-size: 1em;
        margin: 0;
    }

    figcaption {
        margin: 6px 0;
        font-size: 1em;
    }

    footer img {
        margin: 0;
        max-width: 40%;
        height: auto;
    }
}

@media screen and (max-width: 720px) {

    header .logo.fat, header .logo {

        position: relative;
        margin-left: -71px;
        width: 142px;
        margin-bottom: 5px;
    }

    header .nav {
        float: right;
        width: 100%;
        margin: 0;
        position: absolute;
        background-color: #444A54;
    }

    header .nav.closed {
        display: none;
    }

    header .nav.open {
        display: block;
    }

    header .nav li {
        width: 100%;
    }

    header .menu-toggle {

        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 28px;
        cursor: pointer;
    }

    header .menu-toggle li{

        display: block;
        height: 4px;
        margin: 0 0 6px 0;
        background-color: #FFFFFF;
        border-radius: 2px;
        width: 100%;
    }

    header .menu-toggle.open li {

        width: 32px;
        margin-left: -3px;
    }

    header .menu-toggle.open li:first-child {

        -webkit-transform: rotate(45deg);
        margin-top: 10px;
    }

    header .menu-toggle.open li:last-child {

        -webkit-transform: rotate(-45deg);
        margin-top: -20px;
    }

    header .menu-toggle.open li:nth-child(2) {

        visibility: hidden;
    }

    #feature img {

        margin: 100px auto 0;
    }

    #feature .videoWrapper {
        margin-top: 40px;
    }
}

@media screen and (max-width: 700px) {

    h1  {
        font-size:  2.2em;
    }

    figcaption {
        font-size: 1.2em;
    }

    header ul {

        font-size: 1em;
    }
}

@media screen and (max-width: 675px) {

    .service img, .team-member img {
        max-width: 85%;
    }
}

@media screen and (max-width: 600px) {


    header ul {

        font-size: .8em;
    }
}

@media screen and (max-width: 500px) {


    h1 {
        font-size: 1.5em;
    }

    section, footer
    {
        padding: 30px 0;
    }

    p {
        font-size: .7em;
        text-align: center;
    }

    .service img {
        border-radius: 50%;
        padding: 2%;
        background-color: #edecec;
        max-width: 45%;
        margin-bottom: 20px;
    }

    .service p {
        margin: 0 20px 20px;
    }

    .service h2 {
        margin: 0;
        font-size: 1.3em;
    }

    #feature img {

        width: 95%;
    }

    .team-member:first-child {
        margin-bottom: 20px;
    }

    .about p {
        color: white;
        margin: 10px 20px;
    }

    .group
    {
        padding: 14px 10px 0 10px;
    }

    .icon {
        font-size: 1.6em;
    }

    .btn
    {
        font-size: 1em;
    }

    #loadmore
    {
        font-size: 1em;
        margin: 0;
    }

    .reveal-modal, dialog {
      min-height: 10vh;
    }

    #team ul li {
        margin: 12px;
    }

    button {
        padding: 15px 36px;
        font-size: .6em;
    }

    #send {
        display: block;
        margin: 0 auto;
    }

}
